version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8008:8008"
    command:
      - /bin/bash
      - -c
      - |
        alembic upgrade head
        gunicorn app.main:app --bind 0.0.0.0:8008 --worker-class uvicorn.workers.UvicornWorker --capture-output --log-level debug
    depends_on:
      db:
        condition: service_healthy
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    volumes:
      - .:/users_svc_app
    restart: unless-stopped

  db:
    image: postgres:15
    shm_size: 128mb
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"] # Check specific database
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 10s
    restart: unless-stopped

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080


volumes:
  postgres_data: